.index {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #FFF8DC;
}
h1 {
    color: #FF7F50;
    margin-top: 100px;
    font-size: 60px;
}


div.recipes {
    text-align: center;
}

ul.myUL {
    text-align: left;
    display: inline-block;
    font-size: 30px;
}
a {
    text-align: left;
    display: block;
    font-size: 30px;   
}
h1.hb {
    color: blue;
}
.lasagna {
    background-color: #E6E6FA;
    margin-left: 150px;
    margin-right: 125px;
    font-family:Arial, Helvetica, sans-serif;
    
    
}
.imgl {
    height: 500px;
    width: 920px;
}
.h1l {
    text-align: center;
    color: #800000;
}
.lasagna p{
    font-size: 20px;
}
.ingredientsl li {
    color: #800000;
}